<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{DATE}  %method[%-5level] %class , %line,   [%t] - %msg%n"/>
        </Console>

        <RollingFile name="file-log" fileName="UsmSocialNetworkLog-info.log"
                     filePattern="/home/logs/maxikLog-info-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>%d{DATE} %method[%-5level] %class , %line, [%t] - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>

    </Appenders>

    <Loggers>

        <Logger name="main.java" level="info" additivity="true">
            <appender-ref ref="file-log" level="info"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="console" level="info"/>
            <appender-ref ref="file-log" level="info"/>
        </Root>

    </Loggers>

</Configuration>